.pdf-content a {
    text-decoration: none;
    display: flex;
    background-color: rgb(100, 250, 250);
    border-radius: 5px;
    box-shadow: 0px 0px 2px white;
    color: black;
    display: flex;
    padding: 10px;

}

.pdf-content a p {
    margin-top: 5px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 13px;
}

.pdf-content a img {
    width: 30px;
    height: 30px
}

.audio-content audio::-webkit-media-controls-panel {
    background-color: rgb(212, 221, 231);
    width: 100%;


}

audio::-webkit-media-controls-mute-button {
    display: none;
}


audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

.audio-content audio {
    height: 30px;
    margin-top: 5px;
    max-width: 200px;
    z-index: -5;
}

audio:focus {
    outline: none;
    border: none;
}

audio::-webkit-media-controls-current-time-display {
    color: gray;
    font-size: 10px;
}

.loader {
    text-align: center;
    transform: translateX(100%);
    width: 30%;
    position: relative;
    background-color: rgb(100, 250, 250);
    border-radius: 10px;
    margin-top: 20px;
}

.message__indicator {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    color: #6b7575;
}

.messageRead>.MuiSvgIcon-root {
    font-size: 11px;
    margin-left: 4px;
    color: #253ecf;
}

.unreadMessage>.MuiSvgIcon-root {
    font-size: 14px;
    color: #253ecf;
}

.message__text .read-more-less--more,
.message__text .read-more-less--less {
    color: rgb(3, 153, 199);
    font-weight: 500;
}